

body {
  background-color: rgba(0, 0, 0, 0.8);
}

#main {
  -moz-box-shadow:    3px 3px 5px 6px blue;
 -webkit-box-shadow: 3px 3px 5px 6px blue;
  box-shadow:         3px 3px 5px 6px blue;
  border: 2px solid purple;
  border-radius: 10px;
  background-color: black;
  color: purple;
  height: 400px;
  width: 360px;
  margin-left: 38%;
  margin-top: 13%;
  text-align: center;
}
@media screen and (max-width: 812px){
    #main {
      width: 90%;
      margin-left: auto;
    }
}

@media only screen (min-device-width: 768px) and (max-device-width: 1367px) {
  #main {
    width: 90%;
  }

}
h3 {
  font-family:Fredokav One;
  background:-webkit-linear-gradient(#900EBD, #390EBD);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

input {
  border-radius: 10px;
  border: none;
  height: 30px;
  width: 40px;
}

.height .cf-medium {
  width: 130%;
}

input[type=text] {
  font-size: 25px;
  color: blue;
  text-align: center;
}


button {
  background-color: purple;
  border: blue;
  padding-top: 4%;
  padding-right: 5px;
  text-align: center;
  text-decoration: underline;
}
button::after {
  background-color: rgba(0, 0, 255, 0.6);
}

button:hover {
  opacity: 70%;
  text-decoration: none;
  font-size: 15px;
  border: 1px solid gray;
}

#answer {
  color: blue;
}
/* function flipDiv() {
//   var rotate = 360;
//   this.style = `transform: rotate(' ${rotate} 'deg); background-color: gray`;
//   document.write(`<img style=display:inline-block; src=# alt=Google Image>
//     <a href="link">Goto Site</a>`);


 */
